[submodule "eosio.contracts"]
	path = eosio.contracts
	url = https://github.com/EOSIO/eosio.contracts.git
[submodule "cyberway.contracts"]
	path = cyberway.contracts
	url = https://github.com/GolosChain/cyberway.contracts/
